@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
